body{
    font-family: 'tanerine',serif;
    background-color: #ffffff;
    font-size: 20px;
    margin: 0;
    padding: 0;
   
}

#nav_bar{
    margin-bottom: 0px;
    padding: 0;
    background-color: white;
    border: none;
}
.weather{
    color: #4aa1f3 !important;
    font-size: 25px;
    font-weight: 600;
}
#nav_list > li > a{
    color: #4aa1f3 !important;
    font-weight: 500;
}

#logo{
    max-height: 42px;
    margin-right: 8px;
    display: inline-block;
    margin-top: -15px;

}