body {
    font-family: 'tanerine',serif;
    font-weight: 900;
    font-size: 40px;
    margin: 0;
    padding: 0;
    background: url(https://media.nationalgeographic.org/assets/photos/000/156/15629.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    margin-top: 0px ;
}

#nav_bar{
    margin-bottom: 0px;
    padding: 0;
    background-color: white;
    border: none;
}

#logo{
    max-height: 42px;
    margin-right: 8px;
    display: inline-block;
    margin-top: -15px;
}

#cityDiv{
   
    margin: auto;
    text-align: center;
}

input[type='text']{
    height: 40px;
    font-size: 20px;
}

#submitCity {
    height: 40px;
    font-weight: bold;
}

#enterCity {
    color: black;
}

#showWeather {
    margin: auto;
    background-color: #4aa1f3;
    color: white;
    border-radius: 25px;
    width: 60%;

}
h3 {
    padding-left: 40px;
}
h2 {
    padding-top: 10px;
}

s